.navbar {
    height: 60px;
    position: relative;
}

.logo-image {
    float: left;
    padding-right: 20px;
    text-align: left;
}

.form-inline {
    padding-right: 20px;
}

.text-nav {
    padding-top: 30px;
    text-align: center;
    /* float: left; */
}


